
/* container */
.container {
	width: 1200px;
	height: 869px;
}
.container_inner {
	width: 1200px;
	height: 869px;
	margin-top: 50px;
    display: flex;
}
.side_bar {
	width: 150px;
	min-height: 563px;
	margin-right: 40px;
}
.side_bar_inner {
	width: 150px;
	height: auto;
}
.side_title {
	width: 150px;
	height: 57px;
	padding-bottom: 29px;
	border-bottom: 2px solid #111;
    font-size: 24px;
    letter-spacing: -2px;
    font-weight: 700;
	
}
.side_bottom_box {
	width: 150px;
	height: auto;
}
.side_box {
	width: 150px;
	height: 51px;
    border-bottom: 1px solid #ddd;
    line-height: 50px;
}
.side_box:last-child {
	border-color: #111;
}
.side_box a {
	display: inline-block;
	width: 150px;
	height: 50px;
	text-decoration: none;
	color: #333;
	font-size: 15px;
	cursor: pointer;
}
.side_box > a:hover {
	color: #5e2bb8;
}
.reserv_list {
	width: 150px;
	height: 50px;
	margin-top: 20px;
}
.reserv_list a {
	cursor: pointer;
}
.side_banner {
	width: 150px;
	height: 110px;
	margin-top: 20px;
}
.main_box {
	width: 1010px;
	height: auto;
}
.main_title {
	height: 55px;
    font-size: 22px;
    font-weight: 600;
    color: #111;
}
.tab_box {
	overflow: hidden;
	width: 1010px;
	height: 52px;
	margin-bottom: 40px;
}

/* .tab {
 	
	width: 336.66px;
	height: 51px;
	
    border-color: #111;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #fff;
   
    background-color: #fff;
    outline: none;
    border-bottom: 1px solid #ddd;
} */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: flex;
	width: 336px;
	height: 51px; 
	font-size: 15px;
	background-color: #fff;
	float: left;
	border: none;
	border-bottom: 1px solid #111;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	line-height: 20px;
	color: #333;
	vertical-align: middle;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-bottom: none !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;;
  border-top: none;
}



/* ================================================================================== */



.container_right_header {
    font-size: 22px;
    font-weight: 600;
    color: #111;
}


.container_right_body {
    width: 1010px;
    height: 52px;
    margin-top: 32px;
}

.container_right_body1 { 
    display: flex;
    text-align: center;
}

.container_right_body1 a {
    text-decoration: none;
}

.container_right_body1 > a > div {
    width: 252.5px;
    height: 52px;
    line-height: 52px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: black;
    border-right: none;

    color: #333;
    font-size: 15px;
    line-height: 52px;
}

.container_right_body1 > a:last-child > div {
    border-right: 1px solid #ddd;
}

.container_right_body1 > a > .container_tab_active  {
    border: 1px solid black;
    border-bottom: none;
    color: #5e2bb8;
    font-weight: 600;
}

.container_right_body1 > a:last-child > .container_tab_active {
    border: 1px solid black;
    border-bottom: none;
}



.container_right_body2 {
    position: relative;
    height: 133px;
    padding-top: 40px;
    padding-left: 215px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.22;
    color: #333;
    background-color: #f7f7f7;
    margin-top: 30px;
}

.container_right_body2 > span {
    color: #5e2bb8;
}

.container_right_body2 > span::after {
    width: 45px;
    height: 45px;
    content: '';
    display: inline-block;

    background-image: url(https://image.hanatour.com/usr/static/img2/pc/com/spr_icn.png);
    background-repeat: no-repeat;
    background-position: -200px -318px;

    position: absolute;
    left: 15.4%;
    top: 30%;
}




.container_right_body3 {
    margin-top: 41px;
    border-top: 1px solid #999;
}






.container_right_body3_id {
    width: 1010px;
    height: 73px;
    display: flex;
    border-bottom: 1px solid #ddd;
    
}

.container_right_body3_id_left {
    width: 252.5px;
    background-color: #f7f7f7;
    font-size: 15px;
    font-weight: 600;
    color: #111;
    border-right: 1px solid #ddd;
    padding: 15px 20px;
    line-height: 40px;
}

.container_right_body3_id_right {
    width: 757.5px;
    padding-top: 15px;
    padding-left: 20px;
}

.container_right_body3_id_right > input {
    width: 500px;
    height: 42px;
    color: #aaa;
    border: 1px solid #cdcdcd;
    background: #f2f3f7;
    padding-left: 15px;
}






.container_right_body3_pw {
    width: 1010px;
    height: 73px;
    display: flex;
    border-bottom: 1px solid #ddd;
    
}

.container_right_body3_pw_left {
    width: 252.5px;
    background-color: #f7f7f7;
    font-size: 15px;
    font-weight: 600;
    color: #111;
    border-right: 1px solid #ddd;
    padding: 15px 20px;
    line-height: 40px;
}

.container_right_body3_pw_right {
    width: 757.5px;
    padding-top: 15px;
    padding-left: 20px;
}

.container_right_body3_pw_right > input {
    width: 500px;
    height: 42px;
    color: #aaa;
    border: 1px solid #cdcdcd;
    padding-left: 15px;
}

.container_right_body3_pw_right > input::placeholder {
    color: #aaa;
    letter-spacing: -1.7px;
}

.container_right_body3_pw_fail > .container_right_body3_pw_right > input::placeholder { 
	color: red;
}
 



.container_right_body4  {
    width: 1010px;
    height: 56px;
    display: flex;
    justify-content: center;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    padding: 0 35px;
    margin-top: 30px;
}

.container_right_body4 a {
    text-decoration: none;
}


.container_right_body4 > a > div {
    width: 140px;
    height: 56px;
    text-align: center;
    color: white;
    font-weight: 400;
    border-radius: 4px;
}

.container_right_body4 > a:nth-child(1) > div {
    /* border-color: #696e7d; */
    border-color: #5b606e;
    background-color: #5b606e;
    margin-right: 9px;
}

.container_right_body4 > a:nth-child(1):hover > div {
    border-color: #696e7d;
    background-color: #696e7d;
}


.container_right_body4 > a:nth-child(2) > div {
    /* border-color: #43109f; */
    border-color: #5e2bb8;
    background-color: #5e2bb8;
}

.container_right_body4 > a:nth-child(2):hover > div {
    border-color: #43109f;
    background-color: #43109f;
}